.header {
    max-width: 3000px;
    margin: 30px auto;
    border: 1px solid steelblue;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }